<h1><%= title %></h1>

<p>Welcome, <%= fname %>.</p>

<ul>
  <li><a href="/inv">Inventory Management</a></li>
  <li>
    <a href="/account/update/<%= accountData && accountData.account_id %>">
      Update account information
    </a>
  </li>
  <li><a href="/account/logout">Log out</a></li>
</ul>

<% if (typeof message !== 'undefined' && message && message.length) { %>
  <div class="notice"><%= message %></div>
<% } %>
