<a class="skip-link" href="#main">Skip to content</a>

<div class="wrap header-inner">
  <a class="brand" href="/">CSE Motors</a>

  <% const isLogged = (typeof loggedin === 'boolean') ? loggedin : false; %>
  <a
    class="account-link"
    href="<%= isLogged ? '/account/' : '/account/login' %>"
    aria-label="My Account"
  >
    My Account
  </a>
</div>
