<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %> | CSE 340 App</title>
  <link rel="icon" href="/images/site/favicon-32x32.png">
  <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>
