<a class="skip-link" href="#main">Skip to content</a>

<div class="wrap header-inner">
  <a class="brand" href="/">CSE Motors</a>

  <div class="account-controls">
    <% if (loggedin) { %>
      <a class="account-link" href="/account" aria-label="Account">My Account</a>
      <a class="account-link" href="/account/logout" aria-label="Logout">Logout</a>
    <% } else { %>
      <a class="account-link" href="/account/login" aria-label="Login">My Account</a>
      <a class="account-link" href="/account/register" aria-label="Register">Register</a>
    <% } %>
  </div>
</div>
